@model IEnumerable<SonHaftaHoca.ViewModels.EylemVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EylemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EylemAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OlusturmaTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EylemTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EylemYapildiMi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EylemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EylemAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OlusturmaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EylemTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EylemYapildiMi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
